<h1> <%= @user.name %> </h1>
 

<dl>
 <dt><strong> Email </strong></dt>
 <dd> <%= @user.email %> </dd> 
</dl>

<dl>
 <dt><strong> Name </strong></dt>
 <dd> <%= @user.name %> </dd> 
</dl>

<%= link_to 'Back to Home', movies_path %>